{% extends 'base.html.twig' %}

{% block title %}Détails d'une catégorie{% endblock %}


{% block body %}

    <div class="container">
        <h2>Détails d'une catégorie</h2>

        <h3>Tous les Modules de la catégorie {{category.nameCategory}}</h3><br>

        {% for modules in category.modules %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{path('show.modul', {'id' : modules.id})}}">{{modules}}</a><br>
            {% endif %}
        {% endfor %}

        
            
    </div>

{% endblock %}