{% extends 'base.html.twig' %}

{% block title %}Détails d'un module{% endblock %}


{% block body %}

    <div class="container">
        <h2>Détails d'un module</h2>

        

        
            
    </div>

{% endblock %}